:root{
  --primary: #2F9C89;
  --primary-dark: #206A5D;
  --primary-light-1: #A1E7DA;
  --primary-light-2: #B0F1E5;
  --status-great: #35F66B;
  --grey: #595959;
}

*{
  font-family: 'Roboto', sans-serif;
}



.node {
  width: 152px;
  height: 152px;
  position: relative;
  border-radius: 100%;
  box-shadow: 20px 20px var(--primary);
  background-color: white;
}

.title {
  position: absolute;
  width: 85%;
  height: 37.5%;
  margin-top: 30%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: table;
  table-layout: fixed;
}

.title:focus {
  outline: none;
}

.title p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14pt;
  font-family: sans-serif;
  font-weight: bold;
  color: var(--primary);
}



.label {
  text-align: right;
  color: var(--primary);
  width: calc(50% - 10px);
  float: left;
}
.data {
  color: var(--grey);
  float: left;
  padding-left: 20px;
}
.line-item{
  padding: 20px;
  display: none;
}

body {
  background-color: var(--primary-light-1);
}
